<div class="card-body">

  <h5 class="card-title russo-font"><i class="material-icons">location_on</i> Itinerário</h5>

  <p class="card-text abel-font">Informe o ID da linha para consultar o itinerário:</p>

  <div class="row">

    <form>

      <div class="input-group mb-3 col-md-12" >

      <input type="text" class="form-control abel-font" formControlName="name">

      <button class="btn btn-outline-primary" type="button" style="max-height: 40px">
        <i class="material-icons"> search </i> <i class="material-icons"> location_on </i> </button>

      </div>

    </form>

  </div>

</div>
