<div class="card-body">

    <h5 class="card-title russo-font"><i class="material-icons">directions_bus</i> Linhas de Ônibus</h5>

    <p class="card-text abel-font"> Pesquisar linhas de Ônibus: </p>

    <div class="row">

        <form>

          <div class="input-group mb-3 col-md-12" >

            <input type="text" class="form-control abel-font" formControlName="name">

            <button class="btn btn-outline-primary" type="button" style="max-height: 40px;">
                <i class="material-icons"> search </i> <i class="material-icons"> directions_bus </i> </button>

          </div>

          <div class="col-md-12">

            <button class="btn btn-primary btn-lg abel-font" type="button" style="width: 100%"> Listar todas </button>

          </div>

        </form>

    </div>

</div>
